<!DOCTYPE HTML>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

    {{ partial "header.html" . }}

    <body class="landing">
        {{ partial "nav" . }}
        
        <section id="main" class="wrapper style1">
            <header class="major">
                <h2>{{ .Site.Params.Error404.heading }}</h2>
            </header>

            <div class="container">
                {{ .Site.Params.Error404.text | markdownify }}
            </div>
        </section>

            {{ if .Site.Params.footer.enable }}
            {{ partial "footer.html" . }}
        {{ end }}   
    </body>
</html>
