<head>
    <title>
        {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
        {{ if .IsHome }}
            {{ .Site.Title }}
        {{ else if .Params.heading }}
            {{ .Params.heading }}
        {{ else }}
            {{ .Title }} | {{ .Site.Title }}
        {{ end }}
    </title>
    
    <meta name="title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else if .Params.heading }}{{ .Params.heading }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end}}">    
    <meta charset="utf-8">    
    {{ if .Description }}
        <meta name="description" content="{{ .Description }}">
    {{ else if .Site.Params.description }}
        <meta name="description" content="{{ .Site.Params.description }}">
    {{ else if .Summary }}
        <meta name="description" content="{{ .Summary }}">
    {{ end }}

    <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon.ico" | absURL }}">
    <meta name="theme-color" content="#FFF">
    
    <link rel="canonical" href="{{ .Permalink }}">
    
    <script src="{{ "js/jquery.min.js" | absURL }}"></script>
    <script src="{{ "js/skel.min.js" | absURL }}"></script>
    <script src="{{ "js/skel-layers.min.js" | absURL }}"></script>
    <script src="{{ "js/init.js" | absURL }}"></script>
    <noscript>
        <link rel="stylesheet" href="{{ "css/skel.css" | absURL }}" />
        <link rel="stylesheet" href="{{ "css/style.css" | absURL }}" />
        <link rel="stylesheet" href="{{ "css/style-xlarge.css" | absURL }}" />
    </noscript>
    
    {{ if .Site.GoogleAnalytics }}
        {{ template "_internal/google_analytics.html" . }}
    {{ end }}
</head>