<section id="two" class="wrapper style2">
    <header class="major">
        <h2>{{ .Params.Activities.title }}</h2>
        <p>{{ .Params.Activities.subtitle }}</p>
    </header>
    <div class="container">
        <div class="row">
            {{ range .Params.Activities.Items }}
                <div class="6u">
                    <section class="special">
                        <span class="image fit"></a><img src="{{ .image | relURL }}" alt="" /></span>
                        <h3>{{ .title }}</h3>
                        <p>{{ .text }}</p>
                        <!-- <ul class="actions">
                            <li><a href="{{ .url | relURL }}" class="button alt">Learn More</a></li>
                        </ul> -->
                    </section>
                </div>
            {{ end }}
        </div>
    </div>
</section>