<section id="two" class="wrapper style2">
    <header class="major">
        <h2>Activities</h2>
        <p>Amet nisi nunc lorem accumsan</p>
    </header>
    <div class="container">
        <div class="row">
            <div class="6u">
                <section class="special">
                    <a href="#" class="image fit"><img src="images/camping.jpg" alt="" /></a>
                    <h3>Camping</h3>
                    <p>Eget mi ac magna cep lobortis faucibus accumsan enim lacinia adipiscing metus urna adipiscing cep commodo id. Ac quis arcu amet. Arcu nascetur lorem adipiscing non faucibus odio nullam arcu lobortis. Aliquet ante feugiat. Turpis aliquet ac posuere volutpat lorem arcu aliquam lorem.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
            <div class="6u">
                <section class="special">
                    <a href="#" class="image fit"><img src="images/flag_planting.jpg" alt="" /></a>
                    <h3>Community Service</h3>
                    <p>Eget mi ac magna cep lobortis faucibus accumsan enim lacinia adipiscing metus urna adipiscing cep commodo id. Ac quis arcu amet. Arcu nascetur lorem adipiscing non faucibus odio nullam arcu lobortis. Aliquet ante feugiat. Turpis aliquet ac posuere volutpat lorem arcu aliquam lorem.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="6u">
                <section class="special">
                    <a href="#" class="image fit"><img src="images/bow.jpg" alt="" /></a>
                    <h3>Outdoor Sports</h3>
                    <p>Eget mi ac magna cep lobortis faucibus accumsan enim lacinia adipiscing metus urna adipiscing cep commodo id. Ac quis arcu amet. Arcu nascetur lorem adipiscing non faucibus odio nullam arcu lobortis. Aliquet ante feugiat. Turpis aliquet ac posuere volutpat lorem arcu aliquam lorem.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
            <div class="6u">
                <section class="special">
                    <a href="#" class="image fit"><img src="images/pwd.jpg" alt="" /></a>
                    <h3>Pinewood Derby</h3>
                    <p>Eget mi ac magna cep lobortis faucibus accumsan enim lacinia adipiscing metus urna adipiscing cep commodo id. Ac quis arcu amet. Arcu nascetur lorem adipiscing non faucibus odio nullam arcu lobortis. Aliquet ante feugiat. Turpis aliquet ac posuere volutpat lorem arcu aliquam lorem.</p>
                    <ul class="actions">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</section>