<section id="one" class="wrapper style1">
    <header class="major">
        <h2>Ipsum feugiat consequat</h2>
        <p>Tempus adipiscing commodo ut aliquam blandit</p>
    </header>
    <div class="container">
        <div class="row">
            <div class="4u">
                <section class="special box">
                    <h3>Building Character</h3>
                    <p>Eu non col commodo accumsan ante mi. Commodo consectetur sed mi adipiscing accumsan ac nunc tincidunt lobortis.</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <h3>Learn Citizenship</h3>
                    <p>Eu non col commodo accumsan ante mi. Commodo consectetur sed mi adipiscing accumsan ac nunc tincidunt lobortis.</p>
                </section>
            </div>
            <div class="4u">
                <section class="special box">
                    <h3>Mental and Physical Fitness</h3>
                    <p>Eu non col commodo accumsan ante mi. Commodo consectetur sed mi adipiscing accumsan ac nunc tincidunt lobortis.</p>
                </section>
            </div>
        </div>
    </div>
</section>