<section id="one" class="wrapper style1">
    <header class="major">
        <h2>{{ .Site.Params.Home.Why.title }}</h2>
    </header>
    <div class="container">
        <div class="row">
            {{ range .Site.Params.Home.Why.Box }}
                <div class="4u">
                    <section class="special box">
                        <h3>{{ .title }}</h3>
                        <p>{{ .text }}</p>
                    </section>
                </div>
            {{ end }}
        </div>
    </div>
</section>