{{ define "main" }}
<section id="main" class="wrapper">
    <div class="inner">
        {{ partial "title-header" . }}
        <div class="content">
            {{ partial "center-image" . }}


            {{ $pages := where .Site.Pages "Section" "calendar" }}
            {{ $today := print (now.Format "02 Jan 06") " 23:59 " (now.Format "-0700") }}
            {{ $compareDate := (time $today).AddDate 0 0 -1  }}
            <section id="upcoming">
                <h2 class="alt">Upcoming Events</h2>
                {{ with where $pages ".Date" "ge" $compareDate }}
                    {{ range .GroupByDate "January 2006" "asc" }} 
                        <p>    
                            <h5 class="alt">{{ .Key }}</h5>
                            <ul style="list-style: none;">
                                {{ range sort .Pages "Date" }}
                                    {{ if not .IsNode }}
                                        <li>
                                            <div class="row">
                                                <div class="col-1 col-2-large col-3-medium col-4-small" style="text-align:right;">
                                                    {{ .Date.Format "1/2/2006" }}        
                                                </div>
                                                {{ $titleClass := "col-11 col-10-large col-9-medium col-8-small" }}
                                                {{ if .IsPage }}
                                                    {{ $titleClass = "col-9 col-8-large col-6-medium col-5-small" }}
                                                    <div class="col-2 col-2-large col-3-medium col-3-small">
                                                        {{ with .Params.TitlePrefix }}{{ . }}{{ end }}
                                                    </div>
                                                {{ end }}
                                                <div class="{{ $titleClass}}">
                                                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                                </div>
                                            </div>
                                        </li>
                                    {{ end }}
                                {{ end }}
                            </ul>
                        </p>
                    {{ end }}
                {{ end }}   
            </section>
            <br/><br/>  
            <section id="past-events">
                <h2 class="alt">Past Events</h2>
                {{ with where (where $pages ".Date" "gt" (now.AddDate -2 0 0)) ".Date" "lt" $compareDate }}
                    {{ range .GroupByDate "January 2006" "asc" }} 
                        <p>    
                            <h5 class="alt">{{ .Key }}</h5>
                            <ul style="list-style: none;">
                                {{ range sort .Pages "Date" }}
                                    {{ if not .IsNode }}
                                        <li>
                                            <div class="row">
                                                <div class="col-1 col-2-large col-3-medium col-4-small" style="text-align:right;">
                                                    {{ .Date.Format "1/2/2006" }}        
                                                </div>
                                                {{ $titleClass := "col-11 col-10-large col-9-medium col-8-small" }}
                                                {{ if .IsPage }}
                                                    {{ $titleClass = "col-9 col-8-large col-6-medium col-5-small" }}
                                                    <div class="col-2 col-2-large col-3-medium col-3-small">
                                                        {{ with .Params.TitlePrefix }}{{ . }}{{ end }}
                                                    </div>
                                                {{ end }}
                                                <div class="{{ $titleClass}}">
                                                    <a href="{{ .RelPermalink }}">{{ if .IsPage }}{{ with .Params.TitlePrefix }}{{ . }} | {{ end }}{{ end }}{{ .Title }}</a>
                                                </div>
                                            </div>
                                        </li>
                                    {{ end }}
                                {{ end }}
                            </ul>
                        </p>
                    {{ end }}
                {{ end }}   
            </section>
        </div>
    </div>
</section>
{{ end }}
