{{ define "main" }}
<section id="main" class="wrapper">
    <div class="inner">
        <h2>{{ .Params.Title }}</h2>
        <ul class="bulleted-icons">
            <li>
                <span class="icon-wrapper"><span class="icon fa-calendar"></span></span>
                <h3>Date</h3>
                <p>
                    {{ .Params.DateString }}
                </p>
            </li>
            {{ if .Params.Location }}
            <li>
                <span class="icon-wrapper"><span class="icon fa-map-marker"></span></span>
                <h3>Location</h3>
                <p>
                    <a href="https://maps.google.com/maps?q={{ .Params.Location }}">{{ .Params.Location }}</a>
                </p>
            </li>
            {{ end }}
        </ul>
        <div class="content">
            {{ .Content  | safeHTML }}
        </div>
    </div>
</section>
{{ end }}
