{{ define "main" }}
<section id="main" class="wrapper">
    <div class="inner">
        <header class="major">
            <h2>{{ .Title }}</h2>
            {{ with .Params.googleCalendarLink }}
                <ul class="actions">
                    <li><a href="{{ . }}" class="button small" target="_blank">Subscribe Using Google Calendar</a></li>
                </ul>
            {{ end }}
        </header>
        <div class="content">
            {{ $today := print (now.Format "02 Jan 06") " 23:59 " (now.Format "-0700") }}
            {{ $compareDate := (time $today).AddDate 0 0 -1  }}
            <section id="upcoming">
                <h2 class="alt">Upcoming Events</h2>
                {{ $upcoming := where (where .Pages ".IsNode" false) ".Date" "ge" $compareDate }}
                {{ partial "calendar-list" $upcoming }}
            </section>
            <br/><br/>
            <section id="past-events">
                <h2 class="alt">Past Events</h2>
                {{ $past := where (where (where .Pages ".IsNode" false) ".Date" "gt" (now.AddDate -2 0 0)) ".Date" "lt" $compareDate }}
                {{ partial "calendar-list" $past }}
            </section>
        </div>
    </div>
</section>
{{ end }}
