{{ define "main" }}
<section id="main" class="wrapper">
    <div class="inner">
        <h2>{{ .Params.Title }}</h2>
        <ul class="bulleted-icons">
            <li>
                <span class="icon-wrapper"><span class="icon solid fa-calendar"></span></span>
                <h3>Date</h3>
                <p>
                    <time datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">{{ .Params.DateString }}</time>
                </p>
            </li>
            {{ with .Params.Location }}
            <li>
                <span class="icon-wrapper"><span class="icon solid fa-map-marker"></span></span>
                <h3>Location</h3>
                <p>
                    <a href="https://maps.google.com/maps?q={{ . | safeHTML }}">{{ . | safeHTML }}</a>
                </p>
            </li>
            {{ end }}
        </ul>
        <div class="content">
            {{ .Content | safeHTML }}
        </div>
    </div>
</section>
{{ end }}
